body{
    display: flex;
    flex-direction: column;
    width: 1500px;
}

.header {
    display: flex;
    padding: 14px;
    justify-content: space-around;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-weight: 18px;
    color: #E5E7EB;   
}

.links {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 16px;
}

.upper-body {
    padding: 42px;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}
.upper-body .content {
    margin-right: 80px;
}
.upper-body .main-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}
.subtext {
    font-size: 18px;
    color: #E5E7EB;
}
.upper-body button {
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 700;
    padding: 8px 36px;
    margin-top: 5px;
    border: 0px solid #3882F6;
}
.upper-body
img {
    display: flex;
    align-self:flex-end;
    height: auto;
    width: 320px;
}

.middle-body {
    text-align: center;
    background-color: #ffffff;
}

.middle-body .main-text {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
}

.middle-body .text {
    font-size: 18px;
    color: gray;
}

.middle-body img {
    width: 220px;
    height: 200px;
}

.quote-body {
    background-color: #E5E6EB;
    padding:150px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.quote {
    text-align: center;
    font-size: 36px;
    color: #1F2937
}
.author {
    text-align: center;
    margin-top: 10px;
    margin-left: 500px;
    font-size: 24px;
    font-weight: 700;
}

.lower-body {
    padding: 80px;
}

.lower-body .content {
    background-color: #3882F6;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    
}

.lower-body .no-button {
    margin-right: 80px;
}

.lower-body .main-text {
font-size: 24px;
color:#F9FAF8;
}

.lower-body button {
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 18px;
    color: #E5E7EB;
    display:flex;
    border: 2px solid #E5E7EB;
    font-weight: 700;
    padding: 8px 36px;
    margin-top: 5px;
}